<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Credit Risk Prediction</title>
  <link rel="stylesheet" href="fileCSS.css">
</head>
<body>
  <div class="container">
    <header>
      <h1>Credit Risk Prediction</h1>
    </header>
    <form class="form">
      <div class="form-group">
        <label for="risk-score">Risk Score</label>
        <input type="text" id="risk-score" name="risk-score">
      </div>
      <div class="form-group">
        <label for="total-debt-to-income">Total Debt To Income Ratio</label>
        <input type="text" id="total-debt-to-income" name="total-debt-to-income">
      </div>
      <div class="form-group">
        <label for="monthly-income">Monthly Income</label>
        <input type="text" id="monthly-income" name="monthly-income">
      </div>
      <div class="form-group">
        <label for="annual-income">Annual Income</label>
        <input type="text" id="annual-income" name="annual-income">
      </div>
      <div class="form-group">
        <label for="interest-rate">Interest Rate</label>
        <input type="text" id="interest-rate" name="interest-rate">
      </div>
      <div class="form-group">
        <label for="loan-amount">Loan Amount</label>
        <input type="text" id="loan-amount" name="loan-amount">
      </div>
      <div class="form-group">
        <label for="base-interest-rate">Base Interest Rate</label>
        <input type="text" id="base-interest-rate" name="base-interest-rate">
      </div>
      <div class="form-group">
        <label for="debt-to-income">Debt To Income Ratio</label>
        <input type="text" id="debt-to-income" name="debt-to-income">
      </div>
      <div class="form-group">
        <label for="networth">Net Worth</label>
        <input type="text" id="networth" name="networth">
      </div>
      <div class="form-group">
        <label for="loan-duration">Loan Duration</label>
        <input type="text" id="loan-duration" name="loan-duration">
      </div>
      <div class="form-group">
        <label for="monthly-loan-payment">Monthly Loan Payment</label>
        <input type="text" id="monthly-loan-payment" name="monthly-loan-payment">
      </div>
      <div class="form-group">
        <label for="total-assets">Total Assets</label>
        <input type="text" id="total-assets" name="total-assets">
      </div>
      <button type="submit" class="submit-button">Enter</button>
    </form>
    <footer>
      <div class="result">LOAN APPROVE / LOAN NOT APPROVE</div>
    </footer>
  </div>
</body>
</html>
